@import "variables";
@import "compass/layout";

#cookbook-category li {

  a {
    background-color: #5bb65b;
  }

  &.active a {
    background-color: #ee5f5b;
  }
}

.order {
  &.active {
    background-color: $blue;
  }
}

#order-footer {
  position: fixed;
  bottom: 0;
}

.base-info {
  border: 1px solid #ccc;
  padding: 10px;

  span {
    background-color: #fff;
  }
}

#operations {
  .btn-group {
    margin-left: 0;
  }

  #checkout {
    font-size: 2em;
    padding: 30px;
  }
}