@import "variables";
@import "compass/layout";

#cookbook-category li {

  a {
    background-color: #5bb65b;
  }

  &.active a {
    background-color: #ee5f5b;
  }
}

.order {
  &.active {
    background-color: $blue;
  }
}

#order-footer {
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 0;

  .btn-group {
    margin: 0;
    padding: 0;
  }
}

.base-info {
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-top: 10px;

  span {
    background-color: #fff;
  }
}

#checkout {
  font-size: 2em;
  padding: 30px;
}