<h2 class="page-header">增加分类
  <a href="<%= admin_kinds_path %>" class="btn btn-primary pull-right">
    返回
  </a>
</h2>

<%= simple_form_for(new_admin_kind_path(@kind)) do |f| %>
  <%= f.input :name, label: "分类" %>
  <%= f.submit "提交", class: "btn btn-info btn-large" %>
<% end %>
